
h1{
	text-align: center;
}
.chicken{
	border-style:solid;
	border-width: 2px; 	
	background-color: grey;
	font-size: 30px;
	 
}
.border{
 border-style: solid;
 background-color:pink;
 border-width:2px;  
 text-align:center;
 text-shadow:2px;
 font-size: 35px; 
}
.beef1{
	text-align: center;
	border-color: black;	
	border-style: solid;
	border-width: 2px;
	background-color: red;
font-size:35px; 

}
.beef{
	background-color:grey;
	border-style:solid;
	border-width:2px;
	font-size: 30px; 

}
.sushi1{
	border-width:2px;
	background-color:cyan;
	border-style: solid;
	text-align: center;
	font-size: 35px;

}
.sushi{
	border-width: 2px;
	background-color: grey;
	border-style: solid;
	text-align: justify;
	font-size: 30px;
}
